.app-wrapper{
  width: 1200px;
  margin: 0 170px;
  display: grid;
 
  
  grid-template-areas:
  "h h"
  "n c";
  drid-template-rows: 60px 1fr;
  drid-template-colums: 2fr 10fr;
  grid-gap: 5px;
  background-color: #c4a976;
}


.app-wrapper_content{
  background-color: #e5ddd1;
    grid-area: c;
}