.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
  color: red;
  .dialogs__items{
    text-decoration: none;
    padding: 10px;
    .dialogs__dialog{

    }
 }
  .dialogs__messages{
    padding: 10px;
    .dialogs__message{

    }
 }
}